.wrapper {
    width: 270px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar-item {
    color: #ccc;
    font-weight: bold;
    font-size: 1.8rem;
    width: 100%;
    padding: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    text-align: center;
    margin-left: 0;

    &:hover {
        background-color: #3e99ea;
        color: #fff;
    }
}
