.wrapper {
    display: flex;
    height: 100px;
    background-color: #fff;
    align-items: center;
    padding: 0 90px;
    justify-content: space-between;
}

.logo {
    width: 220px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    img {
        width: 100%;
        background-color: transparent;
    }
}

.brand-logo {
    font-size: 200px;
}

.menu {
    width: 400px;
    display: flex;
}

.btn-register,
.btn-login {
    background-color: #3e99ea;
    margin-right: 20px !important;
    padding: 10px !important;
    min-width: 140px !important;
    font-size: 1.3rem !important;
    font-weight: 400 !important;
    border-radius: 50px !important;

    &:hover {
        background-color: #3e99ea !important;
        opacity: 0.8 !important;
    }
}

.icon {
    padding: 0 6px;
    svg {
        width: 26px;
        height: 26px;
        color: #3e99ea;
    }
}

.name {
    // width: 130px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    color: #3e99ea;
    font-size: 1.4rem;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    border-radius: 900px;
    border: 2px solid #3e99ea;
}
.myMenu {
}
