.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

.spin {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: var(--primary-color);
    animation: spin 1s ease-in-out infinite;
}

.loading {
    font-size: 1.8rem;
    font-weight: 500;
    color: #1976d2;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
